<div class="container-3"><div class="w-layout-vflex stack gap-8">{% render 'header' %}
<div class="product_list-wrapper"><ul role="list" class="product_list w-list-unstyled">{% for product in recommendations.products %}    <li li-for="product in recommendations.products" class="product_list-item">
                                    
                        </li>
{% endfor %}</ul></div></div></div> {% schema %} {"tag":"section","name":"Recommended Products","class":"section","settings":[{"id":"text_kicker","type":"text","label":"Kicker","default":"Recommended"},{"id":"text_headline","type":"text","label":"Headline","default":"Heading title"}],"presets":[{"name":"Recommended Products","category":"Liquify","blocks":[]}]} {% endschema %}